<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div *ngIf="bsModalSvc.activated === bsModalSvc.Blocks.SIGNUP" class="signup-content">
        <h6>Create an account to receive great stories in your inbox, personalize your homepage, and follow authors and topics that you love.</h6>
        <div class="sign-up-form">
          <div class="form">
            <app-signup-form></app-signup-form>
          </div>
        </div>
      </div>

      <div *ngIf="bsModalSvc.activated === bsModalSvc.Blocks.SIGNIN" class="class">Sign in</div>
    </div>
  </div>
</div>
<button style="display: none;" [hidden]="true" [id]="id" type="button" data-toggle="modal" data-target=".bd-example-modal-lg"></button>
